<?xml version="1.0"?>
<% var name = solutionName.toLowerCase() %>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<pipelines>
		<mvc.getPageRendering>
			<processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets"
					   patch:instead="processor[@type='Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets']">
				<siteAssets hint="raw:AddAsset">
					<asset type="Css" file="/styles/<%= name %>.vendor.min.css" />
					<asset type="JavaScript" file="/scripts/<%= name %>.vendor.min.js" location="Body"/>
					<asset type="JavaScript" file="/scripts/<%= name %>.min.js" location="Body"/>						
				</siteAssets>
			</processor>
		</mvc.getPageRendering>
	</pipelines>
	<domainManager>
		<domains>
			<domain id="<%= name %>" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
				<param desc="name">$(id)</param>
				<ensureAnonymousUser>false</ensureAnonymousUser>
			</domain>
		</domains>
	</domainManager>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="<%= name %>"><%= name %></site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="<%= name %>"><%= name %></site>
          </sites>
        </handler>
      </event>
    </events>
    
	<sites>
		<site name="<%= name %>" patch:after="site[@name='modules_website']"
			  hostName="$(siteHostName).$(rootHostName)"
			  targetHostName="$(siteHostName).$(rootHostName)"
			  database="web"
			  virtualFolder="/"
			  physicalFolder="/"
			  rootPath="/sitecore/content/<%= name %>"
			  startItem="/Home"
			  dictionaryPath="/sitecore/content/<%= name %>/global/dictionary"
			  dictionaryAutoCreate="true"
			  domain="<%= name %>"
			  allowDebug="true"
			  cacheHtml="true"
			  htmlCacheSize="50MB"
			  registryCacheSize="0"
			  viewStateCacheSize="0"
			  xslCacheSize="25MB"
			  filteredItemsCacheSize="10MB"
			  enablePreview="true"
			  enableWebEdit="true"
			  enableDebugger="true"
			  disableClientData="false"
			  cacheRenderingParameters="true"
			  renderingParametersCacheSize="10MB"
			  formsRoot="{E76BC5F6-2C4A-4D60-8000-279580F460FC}"
			  loginPage="/login"
			  enableItemLanguageFallback="true" />
	</sites>
	
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="<%= name %>" />
      </setting>
    </settings>
  </sitecore>
</configuration>
